<h1>
  Editar / Agregar
  heroe
  <small>Superman</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">

  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>
        <form class="grid" [formGroup]="heroForm" (ngSubmit)="onSubmit()">

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Super heroe</mat-label>
            <input
              type="text"
              matInput
              required
              formControlName="superhero"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Alter ego</mat-label>
            <input
              type="text"
              matInput
              required
              formControlName="alter_ego"
            />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Primera aparicion</mat-label>
            <input
              type="text"
              matInput
              required
              formControlName="first_appearance"
            />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Personajes</mat-label>
            <input
              type="text"
              matInput
              required
              formControlName="characters"
            />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Creador</mat-label>
            <mat-select
              formControlName="publisher"
              required
            >
              <mat-option *ngFor="let publisher of publishers"
                [value]="publisher.id"
              >
                {{publisher.desc}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Imagen alternativa</mat-label>
            <input
              type="text"
              matInput
              formControlName="alt_img"
            />
          </mat-form-field>

        </form>

        <div class="flex justify-content-between">
          <button
          mat-fab extended
          color="warn"
          aria-label="Delete button"
          >
            <mat-icon>delete</mat-icon>
            Borrar
          </button>

          <button
          mat-fab extended
          color="primary"
          aria-label="Save button"
          (click)="onSubmit()"
          >
            <mat-icon>save</mat-icon>
            Guardar
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 sm:col-6">

    <mat-card>
      <img matCardImage src="" alt="Imagen del heroe">
    </mat-card>

  </div>

</div>
